#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.status-loading {
    color: white;
    font-size: 1.2rem;
    margin: 10px 0;
}

.status-error {
    color: red;
    font-size: 1rem;
    margin: 10px 0;
}

.system-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.system-info h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.system-info ul {
    list-style: none;
    padding: 0;
}

.system-info li {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.file-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.file-info h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.file-info pre {
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap; /* Разрешить переносы строк */
    font-family: monospace;
    font-size: 1rem;
}

.stats {
    position: absolute;
    bottom: 100px;
    left: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
}

.stats p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.auth-header{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    visibility: hidden;
}