/*TODO refactor styles in diff files*/

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.search-bar {
    background-color: #242424;
    color: #fff;
    border: #242424 1px solid;
    padding: 5px;
    outline: none;
    border-bottom: 1px solid white;
    font-size: 1.3rem;
    width: 350px;
}

.book-input{
    background-color: #242424;
    color: #fff;
    border: #242424 1px solid;
    padding: 5px;
    outline: none;
    border-bottom: 1px solid white;
    margin-right: 10px;
}


.search-bar:focus{
    color: wheat;
}


.book-item {
    background-color: #5d5b59;
    display: inline-block;
    margin: 20px;
    box-shadow: 5px 2px 6px #ffffff;
    align-items: start;
    min-width: 300px;
}

/*.book-item:hover {
    background-color: #5d5b59;
    display: inline-block;
    margin: 20px;
    box-shadow: 5px 2px 6px #8e9a25;
    transform: translate(5px, 5px);
    align-items: start;
}*/

.button {
    margin: 5px 5px;
}

.button:hover {
    background-color: #949d22;
    transition: background-color 500ms ease-out;
}

.editingBook {

}

.edit-form {
    width: 250px;
    height: 300px;
}

.read-the-docs {
    color: #888;
}

.status-loading {
    color: white;
    font-size: 1.2rem;
    margin: 10px 0;
}

.status-error {
    color: red;
    font-size: 1rem;
    margin: 10px 0;
}

.system-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.system-info h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.system-info ul {
    list-style: none;
    padding: 0;
}

.system-info li {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.file-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.file-info h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.file-info pre {
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap; /* Разрешить переносы строк */
    font-family: monospace;
    font-size: 1rem;
}

.stats {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
}

.stats p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #888;
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: sans-serif;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
    font-size: 2.5rem;
}

.modal-content input {
    font-size: 1.3rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 85%;
}

.modal-content .error {
    color: darkred;
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 10px 0;
}

.modal-content .button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.modal-content button {
    flex: 1;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #000;
    color: white;
    transition: background-color 0.2s;
}

.modal-content button:hover {
    background-color: #333;
}

.modal-content button:last-child {
    background-color: #ccc;
    color: #333;
}

.modal-content button:last-child:hover {
    background-color: #bbb;
}

.filter-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 1.3rem;
    gap: 10px;
}

#genreSelect {
    padding: 10px;
    font-size: 1.2rem;
}

.auth-header{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
}